<div  style="background-color: rgb(123, 139, 172)">
<table>
        <tr>
    <td><img src="../../assets/images/HomeAdmin.png" style="height:80px;width:100px"  id="nav"></td>
    <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td>
        <td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
         <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td><td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td> <td>&nbsp;</td>
   <td><p  align="center" style="color:rgba(49, 218, 210, 0.733); font-style:bold;font-size: xx-large; ">Mentors On Demand</p></td> 
</tr>
    </table>
    <div style="color:rgb(62, 158, 202); " > 
    <br>
        <br>
  <div style="background-color: rgb(21, 23, 26)">
<table>
    <tr>
        <td ><a routerLink="/users"> Users</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a routerLink="/active-training">Active Training</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a routerLink="/technologies">Technologies</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a routerLink="/transactions">Transactions</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td ><a routerLink="/home"> logout</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<br>
</div>
<div style="background-color: rgb(104, 101, 64)">
   <img src="../../assets/images/admin2.png" width="1365px" height="400px">
    
    
</div>
</div>