<div style="background-color: thistle">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color:rgb(0, 0, 0)">
        <a class="navbar-brand bg-secondary" ><b><h5> </h5></b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
              <li class="nav-item ">
                  <div class="dropdown">
                      <button class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        search Courses 
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" routerLink="/fsd"> Java Full Satck/Mean Stack</a>
                        <a class="dropdown-item" routerLink="/frontend">Web Development</a>
                        <a class="dropdown-item" routerLink="/cloud-computing">Cloud Computing/AWS</a>
                        <a class="dropdown-item" routerLink="/iot">IOT(AI,ML,Python)</a>
                      </div>
                    </div>
            
              
              </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="/home"><b><h5 style="color:lawngreen">Home </h5></b> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login"><b><h5 style="color:lawngreen">Login</h5></b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/signup"><b><h5 style="color:lawngreen">SignUp?</h5></b></a>
            </li>
          
          </ul>
        </div>
      </nav>
        <div style="display: table;clear:both;">
            <p  id="lform" align="center" style="color:rgba(133, 7, 66, 0.637); font-style:bold;font-size: xx-large; ">Mentors On Demand</p>
        <br><br>
            <div style="background-color:rgb(238, 145, 145); width:299px;padding:5%;float:left;height:470px">
                <br>  <br>  <br>  
                <h2 style="color:white" align="left" >LOGINS</h2>
           
            <a routerLink="/userlogin"><h4>User</h4></a>
            <a routerLink="/mentorlogin"><h4>Mentor</h4></a>
            <a routerLink="/adminlogin"><h4>Admin</h4></a>
            
          
          
            </div>
            <div  style="background-color:rgb(113, 99, 189);width:1020px;padding:14%; height:470px;float:left">
                <!-- <h2 style="color:white;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" >.&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    MENTEE LOGIN</h2> -->

                <div  style="display: flex;

width: 450px;
height: auto;


">

<!-- <form [formGroup]="loginForm" (ngSubmit)="submit()" >
<table align="center">


<tr>
<td>
<h3 for="your_email" style="color:white;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" align="center">Email :

</h3>
</td>
 <td>
    <input type="text" style="background-color: rgb(252, 246, 243);border-block-color: green" formControlName="username"  required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
  </td>
</tr>
 <tr>
   <td>
      <h3 for="password" style="color:white;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" align="center">Password :
 </h3>
</td>         
   <td>
    
     <input type="password" style="background-color: rgb(255, 255, 255);border-block-color: green"  formControlName="password" required>
    </td>
</tr>  
</table>
<div align="center">
    <input type="submit" style="color:moccasin;border: rgb(0, 128, 6);background-color:rgb(11, 128, 0); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" name="register" value="Submit" >
   &nbsp;&nbsp;&nbsp;
    
    <a routerLink="/home"><input type="button" style="color:moccasin;border: rgb(0, 128, 6);background-color:rgb(128, 15, 0); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif" value="cancel"></a>
  
 <br>
    <a routerLink="/signup"><p style="font-family: 'Courier New', Courier, monospace;color:lightgray">I don't have an acoount?</p></a>

</div>
  </form> -->
  <p>
    <b>If You want a best Mentor to teach then login here!!!!!!!!!!!!!!!!!</b>
  </p>
</div></div>
           
            </div>
          </div>